/* font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif; */
*{
    box-sizing: border-box;
}
nav{
    font-family: 'Passion One', cursive;
    font-size: clamp(40px,8vw,90px);
     display: grid;
    /* height: 10vh; */
    color: #f8fafc;
    grid-template-columns:1fr;
    justify-content: space-between;
    background-color: #002233;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#rest{
    flex-grow: 1;
    background-color:#cbd5e1;
}
a:any-link{
    color: #f8fafc;
}
#top{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    gap:30%
}
.wave{
    aspect-ratio:1920/100;
    /* width:100%; */
    /* background-repeat: no-repeat;
    background-position: center; */
    background-size: cover;
    background-image: url("./images/wave-haikei-6.svg");
}
.nav-links{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}