/* font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif; */
*{
    box-sizing: border-box;
}
nav{
    font-family: 'Passion One', cursive;
    font-size: clamp(40px,8vw,90px);
     display: grid;

    position: relative;
    color: #f8fafc;
    grid-template-columns:1fr;
    justify-content: space-between;
    background-color: #002233;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#rest{
    flex-grow: 1;
    background-color:#f8fafc;
}
a:any-link{
    color: #f8fafc;
    text-decoration:none ;
}
#top{
    padding: 20px 40px 0 20px;
    display: flex;
    justify-content: space-between;
    gap:30%
}
.wave{
    aspect-ratio:1920/100;
    width:100%;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./images/layered-waves-haikei-9.svg");
}
.nav-links{
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
#rest{
    font-family: 'Passion One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: clamp(50px,8vw,90px);
}
#featured{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-family: 'Passion One', cursive;
    font-size: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}
.bigger{
    font-size: 25px;
    font-family: 'Passion One';
}
img{
    max-width: 250px;
}
.shop{
    margin-top: 0;
    margin-bottom: 20px;
}
#rest a{
    color: black;
}
#items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 2rem;
    justify-items:center;
}
.container{
    width: 100vw;
}
.shop-nav{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;
    background-color: #e5e5e5;
    padding: 0 20px 0 20px;
    border-radius: 16px;
    position: relative;
}
.shop-nav>a{
    position: relative;
    z-index: 2;
}
.bacgtound-pill{
    position: absolute;
    background-color: #d4d4d4;
    height: 100%;
    width: 130px;
    border-radius: 16px;
    z-index: 1;
}
.container-shop-nav{
    display: flex;
    justify-content: center;
}
.add-to-cart{
    background-color: #002233;
    color:#f8fafc;
    font-family: 'Passion One';
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow:1px 1px 10px black;
}
.add-to-cart:hover{
    background-color: #475569;
}
@media (min-width:500px){
    .card{
        min-width: 400px;
    }
}
.cart{
    filter: brightness(0) invert(1);
}
input[type="number"]{
    font-size: 27px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow:1px 1px 10px black;
    margin-right: 10px;
}
.add-to-part{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    flex-grow: 1;
}
.chechkout-card{
    /* display: flex; */
    background-color: #fff;
    font-family: 'Passion One';
    max-width: 700px;
    white-space: pre-line;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}
.chechkout-card>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-container{
    display: grid;
    justify-content: center;
    gap:2rem;
}
.checkout-img{
    max-width: 400px;
}
.remove{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #991b1b;
}
.remove:hover{
    background-color: #dc2626;
}
.cart-container{
    position: relative;
}
.small-count{
    bottom: 0;
    right: -20px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    background-color: #991b1b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
}
.img-container{
    max-height: 250px;
    overflow: hidden;
}
.img1{
    transition: transform 500ms ease-in-out;
}
.img2{
    transition: transform 500ms ease-in-out;
}
.img-container:hover .img1{
    transform: translateY(-100%);
}
.img-container:hover .img2{
    transform: translateY(-110%);
}